/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  padding-top: 20px;
  background: #f5f7f8;
}

@import "./colors";
@import "./typography";

.container {
  display: grid;
  width: 100%;
  max-width: 950px;
  margin: 0 auto;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 6fr 1fr;
  grid-gap: 20px;

  grid-template-areas:
    "header   header   header"
    "game     game     game"
    "footer   footer   footer";
}

.container div {
  padding: 20px;
}

.header {
  background: $pink;
  grid-area: header;
}

.game {
  background: $blue;
  grid-area: game;
}

.footer {
  background: $green;
  grid-area: footer;
  color: $dark-green;
}

@import "./footer";
